{
    "id":"2030_5",
    "description":"GridAPPS-D 2030_5 service",
    "creator":"PNNL",
    "inputs":[],
    "outputs":[],
    "options": ["(simulationId)","'(request)'"],
    "type":"PYTHON",
    "execution_path": "python /home/osboxes/gridappsd-2030_5/IEEE2030_5/server.py",
    "launch_on_startup":false,
    "prereqs":[],
    "multiple_instances":true
}
