[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pytz = "*"
six = "*"
fastapi = "*"
xmltodict = "*"
gridappsd-python = "*"
pbr = "*"
lxml = "*"
icecream = "*"
jinja2 = "*"
gunicorn = "*"
flask = "*"
pyopenssl = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]
