<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add End Device</title>
</head>
<body>
    <h1>New End Device</h1>
    <div>
        <div><label for="name">Name:</label><input type="text" /></div>
        <div>
            <ul>
                <li><label for="has_di">Device Information?</label><input name="has_di" type="checkbox"/></li>
                <li><label for="has_ps">Power Status?</label><input name="has_ps" type="checkbox"/></li>
            </ul>
        </div>
    </div>
</body>
</html>
