<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add End Device</title>
</head>
<body>
    <h1>New End Device</h1>
    <form action="{{ url_for("admin_end_device") }}" method="post">
    <input type="hidden" name="mRID" value="{{ mRID }}" />
    <div>
        <div><label for="cert_name">CERT Name:
            <input name="cert_name" type="text" value="{{ cert_name }}" />
        </label></div>
        <div><label for="pin">PIN:
            <input name="pin" type="text" size="6" value="{{ pin }}"/>
        </label></div>
        <div>
            <h3>Device Category</h3>
            <ul>
                {! Check to see if we can figure out the device category already plotted !}
                {% for category in device_categories %}
                <li><label for="{{ category.name }}"><input type="checkbox" name="{{ category.name }}" />{{ category.name }}</label></li>
                {% endfor %}
            </ul>
        </div>
        <input type="submit" value="Save" />
    </div>
    </form>
</body>
</html>
