<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
    <h1>Groups</h1>
    <div>
        <ul>
            {% for c, v in groups.items() %}
                <li>
                    {{c.name}}
                {% if v  %}
                <ul>
                    {% for t in v.get_devices() %}
                        <li>
                            End Device ({{ t }})
                            <ul>
                                <li>Link: <a href="/admin{{ t.href }}">{{ t.href }}</a></li>
                                <li>Configuration: <a href="/admin{{ t.ConfigurationLink.href }}">{{ t.ConfigurationLink.href }}</a></li>
                                <li>RegistrationLink: <a href="/admin{{ t.RegistrationLink.href }}">{{ t.RegistrationLink.href }}</a></li>
                                <li>FSA: <a href="/admin{{ t.FunctionSetAssignmentsListLink.href }}">{{ t.FunctionSetAssignmentsListLink.href }}</a></li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
