<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Hello world!</h1>-->
<!--<a href="/admin/clients">Clients</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Client certificate details</h1>
<a href="{{ url_for('admin_resource_list') }}">Resource Tree</a>
<a href="{{ url_for('admin_clients')}}">Clients</a>
<a href="{{ url_for('admin_groups')}}">DER Program Lists</a>
<a href="{{ url_for('admin_aggregators')}}">Aggregators</a>
</body>
</html>
