<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add DER Control</title>
</head>

<body>
    <h1>Update Default DER Control</h1>
    <form action="{{ url_for(" admin_der_control") }}" method="post">
        <div>
            <input type="hidden" name="mRID" value="{{ mRID }}" />
            <div><label for="description:">Description:</label><input name="description" type="text"
                    value="{{ description }}" /></div>
            <div>
                <h3>Default DER Control</h3>
                <ul>
                    <li>
                        <label for="enable_setESDelay">setESDelay Enable</label><input name="enable_setESDelay"
                            type="checkbox" /><br />
                        <label for="setESDelay">Value</label><input name="setESDelay" size="10"
                            value="{{ setESDelay }}">
                    </li>
                    <li>
                        <label for="enable_setESHighFreq">setESHighFreq</label><input name="enable_high_freq"
                            type="checkbox" /><br />
                        <label for="setESHighFreq">Value</label><input name="setESHighFreq" size="10"
                            value="{{ setESHighFreq }}">
                    </li>
                    <li>
                        <label for="enable_setESLowFreq">setESLowFreq</label><input name="enable_setESLowFreq"
                            type="checkbox" /><br />
                        <label for="setESLowFreq">Value</label><input name="setESLowFreq" size="10"
                            value="{{ setESLowFreq }}">
                    </li>
                    <li>
                        <label for="enable_setESRampTms">setESRampTms</label><input name="enable_setESRampTms"
                            type="checkbox" /><br />
                        <label for="setESRampTms">Value</label><input name="setESRampTms" size="10"
                            value="{{ setESRampTms }}">
                    </li>
                    <li>
                        <label for="enable_GradW">setGradW</label><input name="enable_GradW" type="checkbox" /><br />
                        <label for="setGradW">Value</label><input name="setGradW" size="10" value="{{ setGradW }}">
                    </li>
                    <li>
                        <label for="setSoftGradW">setSoftGradW</label><input name="setSoftGradW"
                            type="checkbox" /><br />
                        <label for="setSoftGradW">Value</label><input name="setSoftGradW" size="10"
                            value="{{ setSoftGradW }}">
                    </li>
                </ul>
            </div>
            <div>
                <h3>DER Control Base</h3>
                <ul>
                    <li>
                        <label for="enable_opModConnect">opModConnect</label><input name="enable_opModConnect"
                            type="checkbox" checked="checked" /><br />
                        <label for="opModConnect_True">True</label><input name="opModConnect" id="opModConnect_True"
                            type="radio" value="True" checked="checked" />
                        <label for="opModConnect_False">False</label><input name="opModConnect" id="opModConnect_False"
                            type="radio" value="False" />
                    </li>
                    <li>
                        <label for="enable_opModEnergized">opModEnergized</label><input name="enable_opModEnergized"
                            type="checkbox" checked="checked" /><br />
                        <label for="opModEnergized_True">True</label><input name="opModEnergized"
                            id="opModEnergized_True" type="radio" value="True" checked="checked" />
                        <label for="opModEnergized_False">False</label><input name="opModEnergized"
                            id="opModEnergized_False" type="radio" value="False" />
                    </li>
                </ul>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </form>
</body>

</html>